cdasws>=1.8.12
cdflib>=1.0.5
certifi>=2023.7.22
defusedxml>=0.7.1
hapiclient>=0.2.5
hapiplot>=0.2.2
hdpws>=0.6.8
matplotlib>=3.7.2
notebook>=6.5.4
numpy>=1.25.1
python-dateutil>=2.8.2
requests>=2.31.0
sscws>=2.3.15
urllib3>=2.0.4
xarray>=2023.7.0
